<!DOCTYPE html>
<html>
  <head>
    <title>cc express demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="first">
      <h3>hello this is cc express demo</h3>
    </div>
    <p>Welcome to <%= title %></p>
  </body>
</html>
